# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Hardhat artifacts
artifacts/
cache/

.idea/
.vscode/

# Build artifacts
dist/

# Local Deployments
deployments/local/
deployments/local/**/*

# Env's
.env